

.footer{
    background-color: #709176;
    padding:15px;
    padding-bottom: 30px;
    color:#000000;

    text-align: center;
}


.footlink{
    color:#000000;
    text-decoration: unset;
}


.footlink:hover{
    color:#2d3142;
    text-decoration: underline;

}