.desktop-nav{
    /* top: -8; */
    background-color: #CBDFBD;
    padding: 20px;
    padding-top: 40px;
    float: left;
    width: 100%;
}


.top-nav{
    /* float:left; */
    width: 100%;
    content: "";
    display: table;
    clear: both;
}

.top{
    margin-top: -18px;
}

.row{
    content: "";
    display: table;
    clear: both;
}
.logo{
    float: left;
    width: 15%;
}

.navbutton {
    color:#000000;

    padding: 15px;
}
.navbutton:hover{
    /* background-color: #687da8;
    border-radius: 25px; */
    color:#283618;
    text-decoration: underline;

}
@media only screen and (max-width: 600px){
 .navbutton{
     display: none;
 }
}

